<h1><%= title %> </h1>

<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>Actions</th>
  </head>

    <% users.forEach(function(user){ %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td>
          <a href="/users/edit/<%= user.name %>">Edit</button>
          <a href="/users/delete/<%= user.name %>">Delete</a>
        </td>
      </tr>
    <% }) %>


</table>

<a href="/users/add">Add a new user</a>


<style>
  table { width: 500px }
  td {
    border: 1px dashed black;
    padding: 10px
  }

</style>
